<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.mybatis.dao.Battle_InfoMapper" >
  <resultMap id="BattleResultMap" type="com.game.mybatis.model.Battle_Info" >
    <id column="battle_id" property="battle_id" jdbcType="INTEGER" />
    <result column="battle_name" property="battle_name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="UserCount" property="userCount" jdbcType="INTEGER" />
    <association property="playMap" column="play_Map_id" javaType="Map_Info"
    		select="com.game.mybatis.dao.Map_InfoMapper.selectById">
    </association>
    <association property="current_dialog_Info" column="current_dialog_Info_id" javaType="Dialog_Info"
    		select="com.game.mybatis.dao.Dialog_InfoMapper.selectById">
    </association>
    <collection property="userList" ofType="User"  column="battle_id"
    	select="selectUserList">
    </collection>
    <collection property="dialogList" ofType="Dialog_Info" column="battle_id"
    	select="selectDialogList">
    </collection>
  </resultMap>
  
  <select id="selectDialogList" resultMap="com.game.mybatis.dao.Dialog_InfoMapper.DialogInfoResultMap">
      select * from dialog_info where type = 1 and group_id = #{id}
  </select>
  <select id="selectUserList" resultMap="com.game.mybatis.dao.UserMapper.UserResult">
      select * from user where battle_info_id = #{id}
  </select>
  <select id="selectById" resultMap="BattleResultMap" parameterType="java.lang.Integer" >
   select * from battle_info where battle_id = #{id}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from battle_info
    where battle_id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertBattleInfo" parameterType="com.game.mybatis.model.Battle_Info" >
    insert into battle_info (battle_id, battle_name, type, UserCount, play_map_id, current_dialog_Info_id)
    values (#{battle_id}, #{battle_name}, #{type}, #{userCount}, #{playMap.mapId}, #{current_dialog_Info.dialog_id})
  </insert>
  <update id="updateBattleInfo" parameterType="com.game.mybatis.model.Battle_Info" >
    update battle_info
    <set >
      <if test="battle_name != null" >
        battle_name = #{battle_name},
      </if>
      <if test="userCount != null" >
        UserCount = #{userCount},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="playMap != null" >
        play_map_id = #{playMap.mapId},
      </if>
      <if test="current_dialog_Info != null" >
        current_dialog_Info_id = #{current_dialog_Info.dialog_id},
      </if>
    </set>
    where battle_id = #{battle_id}
  </update>
</mapper>